$img-hero: url("../../assets/principal.jpg");

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    gap: 1rem;
}

.sections{
    display: flex;
    flex-direction: column;
   gap: 4rem;
}

.hero{
    background-image: $img-hero;
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
    height: 50rem;   
}


