$blueColor: #037bc0;

.container {
  display: flex;
  justify-content: space-around;
  background: #fff;
  gap: 2.5rem;
}

.menuItem {
  text-decoration: none;
  color: #000;
}

.login {
  border: $blueColor solid 1px;
  border-radius: 50rem;
  padding: 1rem;
  color: $blueColor;
}

