.container{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    border-top: 1px solid #e1e1e1;
    padding-top: 1rem;
    background: #FFF;
    height: 6rem;
}

.menuItem {
    text-decoration: none;
    color: #000;
}
